:root{
  --orange: #ff5722;
  --lOrange: #ff7e55;
  --dOrange: #ee3900;
  --grey: #565d64;
  --lGrey: #eeeeee;
  --navbarHeight: 64px;
}
/* 
.contact{
  min-height: 400px;
  position: relative;
  max-width: 1200px;
  width: 90vw;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.2);
  margin: 20px 0px;
}

.information{
  width: 100%;
  padding: 40px;
}

.contact h1{
  color: var(--lOrange);
  font-size: 40px;
  margin-bottom: 20px;
}
.contact p{
  font-family: "Roboto";
  font-size: 20px;
  margin-left: 10px;
  line-height: 30px;
  width: 60%;
}

.contact button{
  margin-top: 30px;
  padding: 15px;
  font-size: 17px;
  width: 200px;
  margin-left: 10px;
  background-color: #565d64;
  color: white;
  font-weight: 800;
  border: none;
  font-family: "Roboto";
}

.buttonArrow{
  font-size: 20px;
  font-weight: 800;
  margin-left: 10px;
}

.phone img{
  position: absolute;
  z-index: -1;
  width: 600px;
  top:0;
  right: -100px;
}

.email{
}

.email img{
  position: absolute;
  z-index: -1;
  width: 500px;
  top: 0;
}

.email .information{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-end;  
} */

body{
  font-family: "Lato";
}

.contactCover{
  position: relative;
}

.contactCover img{
  width: 100vw;
  height: 300px;
  object-fit:cover;
}

.contactCoverDesc{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  color: white;
}

.contactCover h1{
  font-size: 40px;
  margin-bottom: 10px;
}