*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --orange: #ff5722;
  --lOrange: #ff7e55;
  --dOrange: #ee3900;
  --grey: #565d64;
  --lGrey: #eeeeee;
  --navbarHeight: 64px;
}

.navbar{
  width: 100vw;
  background : linear-gradient(to right, #3c444c 0% , #535961 16%);
  height: var(--navbarHeight);
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.4);
}



.navLogo{
  height: var(--navbarHeight);
}

#navigationDiv{
  display: flex;
  align-items: center;
}

.navigationList{
  margin-right: 10px;
  list-style: none;
  display: flex;
}

.navigationLink{
  margin: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--lGrey);
  list-style: none;
  text-decoration: none;
  transition: 0.2s;
}

.navigationLink:hover{
  color: var(--lOrange);
  transition: smooth;
  transition: 0.2s;
}

.navigationLink i{
  font-size: 20px;
  padding-right: 7px;
}

@media (width<600px){
  .navigationList{
    margin: 0;
  }

  .navigationLink span{
    display: none;
  }
  .navigationLink{
    margin: 7px;    
  }
} 

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cover{
  width: 90vw;
  margin-top: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  border: none;
}

#coverImg{
  width: 100%;
}

.coverText{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}