*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --orange: #ff5722;
  --lOrange: #ff7e55;
  --dOrange: #ee3900;
  --grey: #565d64;
  --lGrey: #eeeeee;
  --navbarHeight: 64px;
}

.navbar{
  width: 100vw;
  background : linear-gradient(to right, #3c444c 0% , #535961 16%);
  height: var(--navbarHeight);
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.4);
}



.navLogo{
  height: var(--navbarHeight);
}

#navigationDiv{
  display: flex;
  align-items: center;
}

.navigationList{
  margin-right: 10px;
  list-style: none;
  display: flex;
}

.navigationLink{
  margin: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--lGrey);
  list-style: none;
  text-decoration: none;
  transition: 0.2s;
}

.navigationLink:hover{
  color: var(--lOrange);
  transition: smooth;
  transition: 0.2s;
}

.navigationLink i{
  font-size: 20px;
  padding-right: 7px;
}


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cover{
  width: 90vw;
  justify-content: center;
  margin-top: 60px;
}

#coverContent{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  border: none;
}

#coverImg{
  width: 100%;
}

.coverText:hover {
  transition: 0.25s;
  backdrop-filter: blur(5px);
}

.coverText{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  font-size: 3vw;
  transition: 0.25s;
}

.coverDesc{
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: var(--lGrey);
  padding: 20px;
  font-size: 18px;
}

.products{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  /* background-color:#ee3900; */
}
.products h1{
  font-size: 4rem;
  margin-bottom: 40px;
}

.productsList{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.productItem{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  font-family:sans-serif;
  background-color: var(--lGrey);
  text-align: center;
  margin: 20px;
}

.products img{
  width: 100%;
}

.products h4{
  margin: 20px 0;
  font-size: 20px;
}
.products p{
  padding: 0 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

.products a{
  margin-bottom: 20px;
  text-decoration: none;
  background-color: var(--grey);
  color: white;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 12px;
}

@media (width > 1024px) {
  #cover{
    width: 1024px;
  }
  .coverText{
    font-size: 40px;
  }
}

@media (width < 768px){
  .coverText{
    font-size: 5vw;
  }
  .navigationList{
    margin: 0;
  }

  .navigationLink span{
    display: none;
  }
  .navigationLink{
    margin: 7px;    
  }
}