.wishlistItems{
  width: 90vw;
  border: 1px solid black
}

.wishlistItem{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.wishlistItem img{
  width: 200px;
}

.wishlistItemDesc{
  padding: 30px;
}

.wishlistItemDesc h3{
  font-size: 30px;
  margin-bottom: 30px;
}

