.wishlistItems{
  background-color: aqua;
  margin: 100px ;
}

.wishlistItem{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.wishlistItem img{
  width: 300px;
  height: 300px;
}
